* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
}

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all .35s;
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand {
    color: #a9a9a9;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #a9a9a9;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a {
    font-size: 13px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  #mainNav .navbar-nav > li > a.active {
    color: #a9a9a9 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #a9a9a9;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: fade(white, 70%);
    }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: black;
    }
    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
      color: #a9a9a9;
    }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: black;
    }
    #mainNav.navbar-shrink {
      border-color: rgba(34, 34, 34, 0.1);
      background-color: white;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #222222;
    }
    #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
      color: #a9a9a9;
    }
    #mainNav.navbar-shrink .navbar-nav > li > a,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus {
      color: #222222;
    }
    #mainNav.navbar-shrink .navbar-nav > li > a:hover,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
      color: #a9a9a9;
    }
  }

/* Hero Content */
.hero {
    position: relative;
    height: 100vh;
    background-image: url(../assets/img/Group\ 4.png);
    background-position: center;
    background-size: cover;
    background-color: #707070;
}

.d-flex-row {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}


.ram-img {
    margin-left: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 80vh;
}

@media only screen and (max-width: 1100px){
   .ram-img {
       height: 75vh;
       margin-top: 100px;
   }
}

.hero-logo {
    display: none;
    visibility: hidden;
}

.hero-content h1 {
    font-size: 5.0rem;
    margin-bottom: 0;
}

.hero-content h4 {
    font-size: 3.0rem;
    margin-bottom: 20px;
}

.hero-btn {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
    background: white;
    width: 15rem;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.hero-btn:hover {
    background: #7070703f;
    text-decoration: none;
    color: #0077ff;
}

@media only screen and (max-width: 996px){
    .hero {
        position: relative;
        height: 100vh;
        display: flex;
        background-image: url(../assets/img/BlackSheepMobileBackground.png);
        background-position: center;
        background-position: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: flex-end;
    }

    .d-flex-row {
        display: flex;
        justify-content: center;
    }
    

    .hero-content {
        margin-right: 0;
        margin-bottom: 75px;
    }

    .ram-img {
        display: none;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
        color: white;
    }
    
    .hero-content h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: white;
    }

    .hero-logo {
        display: block;
        visibility: visible;
    }

    .hero-btn {
        width: 10rem;
        font-size: 1rem;
    }
 }

/* Leather Content */
.showcase {
    background-color: #707070;
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showcase .section-header {
    color: white;
    padding: 25px;
    letter-spacing: 2px;
    font-size: 3em;
}

.showcase-body {
    align-self: center;
    width: 75%;
}

.carousel-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-body div {
    align-self: center;
}

.carousel {
    width: 100%;
}

.carousel-inner {
    width: 50%;
}

.carousel-slide {
    width: 50%;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.226);
}

.carousel-slide img {
    border-radius: 10px;
}

/*leather work media query*/
@media only screen and (max-width: 996px){
    .showcase-body {
        align-self: center;
        width: 100%;
    }
    
    .carousel-body {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .carousel-body div {
        align-self: center;
    }
    
    .carousel {
        width: 100%;
    }
    
    .carousel-inner {
        width: 100%;
    }
    
    .carousel-slide {
        width: 100%;
        border-radius: 0;
        padding: 25px 0;
        background-color: rgba(0, 0, 0, 0.226);
    }
    
    .carousel-slide img {
        border-radius: 0;
    } 
 }
/* end of leather work media query*/

/* Products Content */
.products {
    position: relative;
    background-color: white;
    height: 125vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products .section-header {
    color: gray;
    padding-top: 25px;
    padding-bottom: 0;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 3em;
}

.products .products-section{
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    width: 30%;
    height: 80%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.233) !important;
}


.card img {
    height: 200px;
}

@media only screen and (max-width: 996px) {
    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
}

/* Product Section Mediq Query ----------- */
@media only screen and (max-width: 996px){
    .products {
        background-color: white;
        height: 300vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    
    .products .section-header {
        color: gray;
        padding-top: 25px;
        padding-bottom: 0;
        letter-spacing: 2px;
        font-size: 3em;
    }
    
    .products .products-section{
        margin-top: 25px;
        width: 80%;
        flex-wrap: none;
    }

    .card {
        height: 100%;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.233) !important;
        margin-bottom: 10px;
    }
    
    
    .card img {
        height: 150px;
    }
 }
/*End of products media query*/


/* Contact Content */
.contact {
    position: relative;
    background-color: #707070;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content {
    width: 80%;
}

.contact .section-header {
    color: white;
    padding: 25px;
    letter-spacing: 2px;
}

.contact .form {
    display: flex;
    background-color: white;
    align-self: center;
    border-radius: 10px;
}

.contact-details {
    width: 28%;
    margin-right: 10px;
}

.contact-details h3 {
    margin-bottom: 25px;
}

.contact-details .contact-info {
    margin-bottom: 35px;
}

.contact-inputs {
    width: 70%;
    text-align: left;
}

.contact .btn-contact {
    border: 3px solid black;
    font-size: 2rem;
    color: #0077ff;
}

.file-upload {
    border: 1px solid #7070705d;
    border-radius: 5px;
}

.upload-btn-wrapper {
    cursor: pointer !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
.file-btn {
    cursor: pointer !important;
    border: 2px solid gray;
    color: #0077ff;
    background-color: white;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    cursor: pointer !important;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.selected-file {
    border: none;
    padding: 5px 5px;
    background-color: white;
    color: black;
    display: inline;
    overflow: hidden;
}

.landscape-desc {
    display: none;
}

/* contact media query */
@media only screen and (max-width: 1500px){
    .contact {
        position: relative;
        background-color: #707070;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact-content {
        width: 100%;
    }
    
    .contact .section-header {
        color: white;
        padding: 25px;
        letter-spacing: 2px;
    }
    
    .contact .form {
        display: flex;
        background-color: white;
        align-self: center;
        border-radius: 0;
    }
    
    .contact-details {
        display: none;
    }
    
    .contact-inputs {
        width: 100%;
        text-align: left;
    }
    
    .contact .btn-contact {
        border: 2px solid #707070 !important;
        font-size: 1.5rem;
    }
    
    .file-upload {
        border: 1px solid #7070705d;
        border-radius: 5px;
    }
    
    .upload-btn-wrapper {
        cursor: pointer !important;
        position: relative;
        overflow: hidden;
        display: inline-block;
      }
      
    .file-btn {
        cursor: pointer !important;
        border: 2px solid gray;
        color: #0077ff;
        background-color: white;
        padding: 5px 5px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: bold;
    }
    
    .upload-btn-wrapper input[type=file] {
        cursor: pointer !important;
        font-size: 30px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    .selected-file {
        border: none;
        padding: 3px 2px;
        font-size: 10px;
        background-color: white;
        color: black;
        display: inline;
        overflow: hidden;
    }
    
    .landscape-desc {
        display: none;
    }
 }
/* End of contact media query */

.footer {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

